# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Source code
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.py text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.env* text eol=lf

# Documentation
*.txt text eol=lf
*.pdf binary

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text eol=lf

# Scripts
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Serialisation
*.json text eol=lf

# RC files (like .babelrc or .eslintrc)
*.*rc text eol=lf

# Config files
*.conf text eol=lf
*.config text eol=lf
*.lock text eol=lf
.env* text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.editorconfig text eol=lf 